<html xmlns="http://www.w3.org/1999/html">
    <head>
        <title>Cardio Vascular Disease</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    </head>
    <body>
        <h1 style="color:red;">{{ result }}</h1>

        <form action="{{ url_for('predict')}}" method="post">
            <label for="age">Age :</label>
            <input type="number" name="age" id="age" placeholder="Enter Your Age"></input>
            <br>
            <label for="gender">Gender :</label>
            <select name="gender" id="gender">
              <option value=1>Women</option>
              <option value=2>Men</option>
            </select>
            <br>
            <label for="height">Height :</label>
            <input type="number" name="height" id="height" placeholder="Enter Your height (in cm)"></input>
            <br>
            <label for="weight">Weight :</label>
            <input type="number" id="weight" name="weight" placeholder="Enter your Weight (in kg)"></input>
            <br>
            <label for="ap_hi">Systolic Blood Pressure :</label>
            <input type="number" id="ap_hi" name="ap_hi">Enter Your Systolic Blood Pressure</input>
            <br>
            <label for="ap_li">Diastolic blood pressure</label>
            <input type="number" id="ap_li" name="ap_li">Enter Your Diastolic Blood Pressure</input>
            <br>
            <label for="cholestrol">Choose Cholestrol Level:</label>
            <select name="cholestrol" id="cholestrol">
              <option value=1>Normal</option>
              <option value=2>Above Normal</option>
                <option value=3>High</option>
            </select>
            <br>
            <label for="gluc">Choose Glucose Level:</label>
            <select name="gluc" id="gluc">
              <option value=1>Normal</option>
              <option value=2>Above Normal</option>
                <option value=3>High</option>
            </select>
            <br>
            <label for="sh">Smoking Habit :</label>
            <select name="sh" id="sh">
              <option value=0>No</option>
              <option value=1>Yes</option>
            </select>
            <br>
            <label for="alcohol">Alcohol Intake :</label>
            <select name="alcohol" id="alcohol">
              <option value=0>No</option>
              <option value=1>Yes</option>
            </select>
            <br>
            <label for="active">Obesity :</label>
            <select name="active" id="active">
              <option value=0>No</option>
              <option value=1>Yes</option>
            </select>
            <br>
            <button>
                Submit
            </button>
        </form>
    </body>
</html>