<html xmlns="http://www.w3.org/1999/html">
    <head>
        <title>Cardio Vascular Disease</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    </head>
    <body>
        <div id="header">
          <h1>CardioVascular Disease Prediction System</h1>
        </div>
        
        <div id="main">
          <div id="inner-content">

            <h3>Let's check</h3>
            <hr>
            <h1 style="color:red;">{{ result }}</h1>
            <form action="{{ url_for('predict')}}" method="post">
              <div class="row">
              <div class="col-25">
                <label for="age">Age</label>
              </div>
              <div class="col-75">
                <input type="number" name="age" id="age" placeholder="Enter Your Age"></input>
              </div>
              </div>
              <div class="row">
              <div class="col-25">
                <label for="gender">Gender</label>
              </div>
              <div class="col-75">
                <select name="gender" id="gender">
                  <option value=1>Women</option>
                  <option value=2>Men</option>
                </select>
              </div>
              </div>
              <div class="row">
              <div class="col-25">
                <label for="height">Height</label>
              </div>
              <div class="col-75">
              <input type="number" name="height" id="height" placeholder="Enter Your height (in cm)"></input>
              </div>
              </div>
              <div class="row">
              <div class="col-25">
                <label for="weight">Weight</label>
              </div>
              <div class="col-75">
              <input type="number" id="weight" name="weight" placeholder="Enter your Weight (in kg)"></input>
              </div>
              </div>
              <div class="row">
              <div class="col-25">
                <label for="ap_hi">Systolic Blood Pressure :</label>
              </div>
              <div class="col-75">
              <input type="number" id="ap_hi" name="ap_hi" placeholder="Enter Your Systolic Blood Pressure"></input>
              </div>
              </div>
              <div class="row">
              <div class="col-25">
                <label for="ap_li">Diastolic blood pressure</label>
              </div>
              <div class="col-75">
              <input type="number" id="ap_li" name="ap_li" placeholder="Enter Your Diastolic Blood Pressure"></input>
              </div>
              </div>
              <div class="row">
              <div class="col-25">
                <label for="cholestrol">Choose Cholestrol Level</label>
              </div>
              <div class="col-75">  
                <select name="cholestrol" id="cholestrol">
                <option value=1>Normal</option>
                <option value=2>Above Normal</option>
                  <option value=3>High</option>
              </select>
              </div>
              </div>
              <div class="row">
              <div class="col-25">
                <label for="gluc">Choose Glucose Level</label>
              </div>
              <div class="col-75">
                <select name="gluc" id="gluc">
                <option value=1>Normal</option>
                <option value=2>Above Normal</option>
                  <option value=3>High</option>
              </select>
              </div>
              </div>
              <div class="row">
              <div class="col-25">
                <label for="sh">Smoking Habit</label>
              </div>
              <div class="col-75">
              <select name="sh" id="sh">
                <option value=0>No</option>
                <option value=1>Yes</option>
              </select>
              </div>
              </div>
              <div class="row">
              <div class="col-25">
                <label for="alcohol">Alcohol Intake</label>
              </div>
              <div class="col-75">
                <select name="alcohol" id="alcohol">
                <option value=0>No</option>
                <option value=1>Yes</option>
              </select>
              </div>
              </div>
              <div class="row">
              <div class="col-25">
                <label for="active">Physical Activity</label>
              </div>
              <div class="col-75">
                <select name="active" id="active">
                <option value=0>No</option>
                <option value=1>Yes</option>
              </select>
              </div>
              </div>
              <div class="row">
                <button>
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
    </body>
</html>